.container{
  background-color: rgb(38, 46, 72);
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 3px double rgb(255, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}